<!DOCTYPE html>
<html>
  <head>
    <title>Makersbnb</title>
    <script src="jquery-3.2.1.min.js"></script>
    <script src="interface.js"></script>
  </head>

  <body>
    <h1>Makersbnb<h1>
    <h2>List a space<h2>

    <form id="list_space">
      <p>Name</p>
      <input id= "name" type="text" name="name" placeholder="Name">
      <p>Description</p>
      <input id= "description" type="text" name="description" placeholder="Description">
      <p>Price</p>
      <input id= "price" type="number" name="price" placeholder="Price">
      <br>
      <br>
      <input id = "submit_space" type="button" value="List my space">
    </form>

    <ul id="spaces">

    </ul>


  </body>
</html>
