<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title> MakersBnB</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>
  <body>


    <div id="container" class="container">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">MakersBnB</a>
          </div>
          <ul class="nav navbar-nav">
            <% if !@home %><li><a href="/spaces">All Spaces</a></li>  <% end %>
            <% if current_user && !@mine %><li><a href="/spaces/my-spaces">My Spaces</a></li><% end %>
            <% if current_user && !@my_bookings %><li><a href="/bookings">My Bookings</a></li><% end %>
              <div class="col-sm-8"></div>
              <div class="col-sm-1">
                <% if !current_user %><li>
                  <form action="/login" method="post">
                    <input type="text" name="username" placeholder="username">
                    <input type="password" name="password" placeholder="password">
                    <input type='submit' value='Log in'>
                  </form></li>
                <% end %>
                <% if current_user %><li>
                Welcome <%= current_user.first_name %>!
                  <form method="post" action="/logout">
                    <input type="submit" value="Log out">
                  </form></li>
                <% end %>
              </div>

          </ul>
        </div>
      </nav>

  </div>

    <% if flash[:errors] && !flash[:errors].empty? %>
    Please refer to the following errors below:
    <ul id='errors'>
      <% flash[:errors].each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  <% end %>

    <% if flash[:notice] %>
      <div id='notice'>
        <%= flash[:notice] %>
      </div>
    <% end %>
    <%= yield %>
    <!-- yields to the view which has been called by the controller -->
  </body>
</html>
