<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title> MakersBnB</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <style>
    .navbar-right {
      padding: 20px;
      font-weight: bold;
      align: right;
    }
    .navbar-left {
      padding: 10px;
      font-weight: bold;
    }
    .navbar-brand {
      padding: 20px;
      font-size: 30px;
    }
    .label {
      padding-right: 10px;
      color: grey;
      font-size: 15px;
    }
    .buttons {
      height: 26.5px;
      margin: 5px;
    }
    </style>
  </head>
  <body>


    <div id="container" class="container">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand">MakersBnB</a>
          </div>
          <ul class="nav navbar-nav navbar-left">
            <% if !@home %><li><a href="/spaces">All Spaces</a></li>  <% end %>
            <% if current_user && !@mine %><li><a href="/spaces/my-spaces">My Spaces</a></li><% end %>
            <% if current_user && !@my_bookings %><li><a href="/bookings">My Bookings</a></li><% end %>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <div>
              <% if !current_user %><li>
                <form action="/login" method="post">
                  <label class="label" >Username</label>
                  <input type="text" name="username" placeholder="username">
                  <label class="label" >Password</label>
                  <input type="password" name="password" placeholder="password">
                  <input class="buttons" type='submit' value='Log in'>
                </form></li>
              <% end %>
              <% if current_user %><li>
                <form method="post" action="/logout">
                  <label class="label" >Welcome <%= current_user.first_name %>!</label>
                  <input class="buttons" type="submit" value="Log out">
                </form></li>
              <% end %>
            </div>
          </ul>
        </div>
      </nav>

  </div>

    <% if flash[:errors] && !flash[:errors].empty? %>
    Please refer to the following errors below:
    <ul id='errors'>
      <% flash[:errors].each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  <% end %>

    <% if flash[:notice] %>
      <div id='notice'>
        <%= flash[:notice] %>
      </div>
    <% end %>
    <%= yield %>
    <!-- yields to the view which has been called by the controller -->
  </body>
</html>
