<!DOCTYPE html>
<html>
  <head>
    <title>Makersbnb</title>
    <script src = 'jquery-3.2.1.min.js'></script>
    <script src = 'interface.js'></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
    $( function() {
    var dateFormat = "mm/dd/yy",
      from = $( "#from" )
        .datepicker({
          defaultDate: "+1w",
          changeMonth: true,
          numberOfMonths: 3
        })
        .on( "change", function() {
          to.datepicker( "option", "minDate", getDate( this ) );
        }),
      to = $( "#to" ).datepicker({
        defaultDate: "+1w",
        changeMonth: true,
        numberOfMonths: 3
      })
      .on( "change", function() {
        from.datepicker( "option", "maxDate", getDate( this ) );
      });

    function getDate( element ) {
      var date;
      try {
        date = $.datepicker.parseDate( dateFormat, element.value );
      } catch( error ) {
        date = null;
      }

      return date;
    }
  } );
  </script>
  </head>

  <body>
    <h1>Makersbnb<h1>
    <h2>Spaces<h2>

    <% if current_user %>
    <form action="/spaces/my-spaces/new">
      <input type="submit" value="Create a space">
    </form>
    <% end %>


    <ul id='spaces'>
      <% @spaces.each do |space| %>
        <li>
          <p>Name:
            <a href = "spaces/<%= space.id %>"><%= space.name%></a></p>
          <p>Description:
            <%= space.description %></p>
          <p>Price: £<%= format('%.2f', space.price) %></p>

              <label for="from">From</label>
              <input type="text" id="from" name="from">
              <label for="to">to</label>
              <input type="text" id="to" name="to">
        </li>
      <% end %>
    </ul>

    <button id= 'refresh' >Refresh</button>

  </body>
</html>
