<!DOCTYPE html>
<html>
  <head>
    <title>Makersbnb</title>
    <script src= 'interface.js'></script>
  </head>

  <body>
    <h1>Makersbnb<h1>
    <h2>Spaces<h2>

    <ul id='spaces'>
    </ul>

    <button id= 'refresh' >Refresh</button> 

  </body>
</html>
