<!DOCTYPE html>
<html>
  <head>
    <title>Makersbnb</title>


  </head>

  <body>
    <h1>Makersbnb<h1>
    <h2>Spaces<h2>

    <ul id='space'>
      <li><%= @space.name %></li>
      <li><%= @space.description %></li>
      <li>£<%= format('%.2f', @space.price) %></li>
      <li><%= @space.user.username %></li>
    </ul>

  </body>
</html>
